name: bld-ci

on: [ push, pull_request, workflow_dispatch ]

jobs:
  build-gradle-project:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 17, 19, 20 ]

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}

      - name: Grant execute permission for bld
        run: chmod +x bld

      - name: Download the dependencies
        run: ./bld download

      - name: Run tests with bld
        run: >-
          ./bld compile test
          -DtestsBadgeUrl=https://rife2.com/tests-badge/update/com.uwyn.rife2/rife2-renderers
          -DtestsBadgeApiKey=${{ secrets.TESTS_BADGE_API_KEY }}